*{
    outline: red 1px dotted;
    margin: 0px;
    padding: 0px;
}


.row{
    padding: 100px;
    height: 100opx;
    margin: 100px;
    background-color: aqua;
    

}


.col-1{
    padding: 100px;
    height: 100px;
    margin: 100px;
    background-color: aqua;

}

.col-2{

    padding: 100px;
    height: 100px;
    margin: 100px;
    background-color: aqua;



}